.name {
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F2F2F2;
}

/*教えてもらいました。@dj_yakitarakoさんに感謝します。*/

body {
    overflow-y: hidden;
    padding: 0px;
    background-color: #141414;
    font-family: 'Noto Serif JP', serif;
}

.rinks {
    border: none;
    color: #F2F2F2;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    padding-left: 0;
}

.rink {
    bottom: 0;
    float: left;
    padding-left: 20px;
    padding-bottom: 10px
}

.box {
    color: #fff;
    height: 100vh;
    padding: 0;
}

.center {
    width: 400px;
    text-align: center;
    font-size: 50px;
    width: auto;
    padding-top: 10px;
}

.zentai {
    position: relative;
    width: 282.842712475px;
    height: 282.842712475px;
    margin: auto;
}

.shikaku {
    position: absolute;
    top: 41.4213562375px;
    left: 41.4213562375px;
    width: 200px;
    height: 200px;
    background-image: linear-gradient(125deg, #fd96f9, #96c6fd);
    transform: rotate(45deg);
}

.moji {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.EASY {
    padding-top: 5px;
    font-size: 30px;
    color: #1ABC9C;
}

.titel {
    padding-top: 80px;
    font-size: 35px;
}

.NORMAL {
    padding-top: 0px;
    font-size: 30px;
    color: #F1C40F;
}

.HARD {
    padding-top: 0px;
    font-size: 30px;
    color: #C0392B;
}


.otoge {
    text-align: center;
}

.chuui {
    text-align: center;
}

.count {
    position: absolute;
    font-size: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box3 {
    position: relative;
}

#day {
    bottom: 0;
    float: left;
    text-align: center;
}

#hour {
    bottom: 0;
    float: left;
    padding-left: 50px;
    text-align: center;
}

#min {
    bottom: 0;
    float: left;
    padding-left: 50px;
    text-align: center;
}

#second {
    bottom: 0;
    float: left;
    padding-left: 50px;
    text-align: center;
}

.github {
    text-align: center;
    font-size: 50px;
    width: auto;
}

.nowglass {
     text-align: center;
}




.glasstitel {
     text-align: center;
    font-size: 25px;
}

.grasspicture {
    text-align: center;
    margin-top: 10px;
}
