.name {
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F2F2F2;
}

/*教えてもらいました。@dj_yakitarakoさんに感謝します。*/

* {
    padding: 0px;
    background-color: #141414;
    font-family: 'Noto Serif JP', serif;
}

.rinks {
    border: none;
    color: #F2F2F2;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    padding-left: 0;
}

.rink {
    bottom: 0;
    float: left;
    padding-left: 20px;
    padding-bottom: 10px
}

.box {
    color: #fff;
    height: 100vh;
}
